.card-container{
    border: 0.5px solid rgb(70, 70, 70);
    display: flex;
    max-width: 800px;
}

.right-side{
    margin-top: 30px;
}

.right-side div {
    margin-top: 10px;
}
    
.card-footerr{
    display: flex;
    justify-content: space-around;
}
